.span1 {
    color: #1a0f0f;
    font-weight: bold;
}

.span2 {
    font-size: 23px;
}

.span3 {
    font-size: 15px;
}

.span4 {
    font-size: 34px;
    font-weight: inherit;
}

.span5 {
    text-decoration: line-through;
    font-size: 16px;
}

.span6 {
    color: white;
    font-weight: normal;
    font-size: 12px;
    padding: 8px;

}

img {
    height: 200px;
}